<h1 id="about-header">About</h1>
<div id="about-page">
  <p>
    The Alpha-Blog is <a target="_blank" href="https://twitter.com/MLSaito">Makoto Saito's</a> first ever Rails application. This application is
    based from <b><a target="_blank" href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course">The Complete Ruby on Rails Developer
    Course</b></a> by <a target="_blank" href="https://www.udemy.com/user/mashrurhossain/">Mashrur Hossain</a> and
    <a target="_blank" href="https://www.udemy.com/user/robpercival/">Rob Percival</a>.
    The course provides a 30-hour course tutorial on how to develop Web Applications and its components using
    the wildly popular Ruby on Rails framework. The course tackles the Ruby Programming Language first, then
    proceeds to the basics of Rails (CRUD operations), styling, and up to utilizations of other APIs such as
    Stripe API.
  </p>
  <p>
    The link of the course can be found <a target="_blank" href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course">here</a>.<br/>
    The Github Code of this application can be found <a target="_blank" href="https://github.com/mlsaito/alpha-blog">here</a>.
  </p>

  <h1 id="about-header">Rails Topics Covered by this Project</h1>
  <p>Here are the list of topics covered by this application:
    <ul>
      <li>Ruby on Rails Development Environment Setup (RVM)</li>
      <li>The Ruby Programming Language</li>
      <li>Rails MVC</li>
      <li>Rails CRUD Operations</li>
      <li>Styling (bootstrap-sass)</li>
      <li>Usage of form_for and Partials</li>
      <li>Assocations (One-to-many and Many-to-many)</li>
      <li>Authentication Systems (Sign-up, Sign-in, Admin Functionality)</li>
      <li>Automated Testing (Integration, Functional, Unit)</li>
      <li>Debugging (byebug)</li>
      <li>Production Deployment (Heroku)</li>
    </ul>
  </p>

  <h1 id="about-header">About the Developer</h1>
  <p>
    Makoto Saito is a young professional software developer who loves tech, eSports, and music. He graduated from the
    <a target="_blank" href="http://www.ust.edu.ph/">University of Santo Tomas</a> with a Bachelor's Degree in Computer Science (BSCS).
    He had a year and a half professional working experience with <a target="_blank" href="http://www.ntsp.com.ph/">NEC Software Philippines Inc.</a>
    working with Embedded Systems using C/C++ and a bit of C# (ASP.NET). Unfortunately, he had to resign due to his citizenship issues. He relocated to Japan
    right after.
  </p>
  <p>
    While Makoto is looking for companies to work for, he realized that Embedded Systems is not where his passion lies. He realized that he wanted to develop applications
    which can reach end users themselves. He also wanted to acquaint himself into a community of developers because he believes in connections and collaboration.
    He then decided that he wanted to shift his career into mobile or web development hence, the Rails platform.
  </p>
  <p>
    This application marks the start of Makoto's adventure to pursuing Rails in his career.
  </p>
  <p>
    Here are some not-so-important facts about Makoto:
    <ul>
      <li>Half Filipino Half Japanese</li>
      <li>Pseudo Developer</li>
      <li>Self-Proclaimed Musician (Guitar and Piano)</li>
      <li>Game Caster Wannabe.</li>
      <li>Social and Outgoing</li>
      <li>Eccentric, Genuine, and Outspoken.</li>
    </ul>
  </p>
  <br/>
  <%=link_to 'Back to Home', root_path %>
</div>
