<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <p>Where awesome writers unite.</p>
  <br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/>
<%=link_to "Sign up", "#", class: "btn btn-primary btn-large" %> |
<%=link_to 'About', about_path, class: "btn btn-primary btn-large" %>
