<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">Glarewind Corp.</a> by <a href="https://twitter.com/MLSaito">Makoto Saito</a>
    </small>
    <nav>
        <a href="https://facebook.com/MLSaitoo">Facebook</a> |
        <a href="https://twitter.com/MLSaito">Twitter</a> |
        <a href="https://github.com/MLSaito">Github</a
    </nav>
  </footer>
</div>
